body{
    background-color: white;
    width: max-content;
    height: max-content;

}




/* ##### RODAPÉ ##### */

footer{
    
        background-color: black;
        color: #fff;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: bolder;
        clear: both;
     
    }

